
<link rel="stylesheet" href="{{ asset('css/studentfetch.css') }}" />
<table>
<tr> <th> ID</th> <th> Nom </th> <th> Age </th> <th> Classroom </th> <th> Action </th> </tr>
{% for t in response %}
<tr>
<td>{{t.id}} </td><td>{{t.nom}} </td> <td>{{t.age}} </td><td>{{t.classroom}} </td><td><a href={{ path('updateF',  {'id' : t.id}) }}> <button>Update</button></a> <a href={{ path('remove',  {'id' : t.id}) }}><button> Delete </button></a></td>
</tr>
{% endfor %}
</table>

<a href={{ path('addF') }}><button> Add </button> </a>